:host {
  display: inline-flex;
}

/*
@media screen and (prefers-color-scheme: light) {
  :host {
    fill: rgba(0, 0, 0, .54);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :host {
    fill: #FFF;
  }
}
*/
