<mat-nav-list>
  <a mat-list-item routerLink="settings">
    <mat-icon>settings</mat-icon>
    <span mat-line>Ayarlar</span>
    <span mat-line>Embed in a document</span>
  </a>

  <a mat-list-item routerLink="help">
    <span mat-line>Yardım</span>
    <span mat-line>Share with your friends</span>
  </a>

  <a mat-list-item routerLink="feedback">
    <span mat-line>Geri bildirim gönder</span>
  </a>

  <a mat-list-item (click)="logout()">
    <span mat-line>Oturumu kapat</span>
  </a>
</mat-nav-list>
