<div class="bottom-bar mat-elevation-z8">
  <div class="bar-items">
    <a matRipple routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
      <div class="item">
        <mat-icon>home</mat-icon>
        <span>Ana sayfa</span>
      </div>
    </a>
    <a matRipple routerLinkActive="active" routerLink="/library">
      <div class="item">
        <mat-icon>video_library</mat-icon>
        <span>Kitaplık</span>
      </div>
    </a>
    <a matRipple routerLinkActive="active" routerLink="/search">
      <div class="item">
        <mat-icon>whatshot</mat-icon>
        <span>Trendler</span>
      </div>
    </a>
  </div>
</div>
