mat-toolbar {
  background: transparent !important;
}

.flex-spacer {
  flex: 1 0 auto;
}

.app-title {
  margin-left: 24px;
}

.mat-list-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

::ng-deep .mat-list-item-content {
  // padding-left: 56px !important;
}

.mat-list-item mat-icon {
  margin-right: 32px;
  margin-left: 8px;
}

.mat-list-item.active {
  background-color: rgba(187, 134, 252, 0.08);

  mat-icon {
    color: #BB86FC !important;
  }

  span {
    font-weight: 500;
    color: #bb86fc;
  }
}

mat-divider {
  margin: 0 56px;
}

.beta-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 24px;
  padding: 16px 24px;
}
