mat-toolbar {
  background: transparent !important;

  button {
    margin-left: 32px;
  }
}

.flex-spacer {
  flex: 1 0 auto;
}

.app-title {
  margin-left: 24px;
}

.svg-icon {
  display: inline-flex;
}

app-home-icon,
app-video-library-icon,
app-thumb-up-icon,
app-settings-icon,
app-help-icon,
app-feedback-icon {
  display: inline-flex;
  // margin-right: 32px;
  // margin-left: 8px;
}

.mat-list-item.active {
  // background-color: rgba(187, 134, 252, 0.08);
  // background-color: rgba(255, 255, 255, 0.12);

  span {
    font-weight: 700;
    color: #bb86fc;
  }
}
.mat-list-item {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  font-family: Inter, sans-serif;

  ::ng-deep .mat-list-item-content {
    padding-left: 56px !important;
  }

  span {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    line-height: 24px;
  }
}

mat-divider {
  margin: 0 56px;
}

.beta-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 24px;
  padding: 16px 24px;
}
