<h1 mat-dialog-title>Ayarlar</h1>
<mat-dialog-content>
  <mat-selection-list color="primary">
    <h3 mat-subheader>Notlar ve listeler</h3>
    <mat-list-option>Yeni öğeleri alta ekle</mat-list-option>
    <mat-list-option>İşaretli öğeleri alta taşı</mat-list-option>
    <mat-list-option>Zengin bağlantı önizlemelerini göster</mat-list-option>
    <mat-list-option>Koyu temayı etkinleştir</mat-list-option>
  </mat-selection-list>
  <mat-selection-list>
    <h3 mat-subheader>Paylaşım</h3>
    <mat-list-option>Paylaşımı etkinleştir</mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button>İPTAL</button>
  <button mat-button color="primary">KAYDET</button>
</mat-dialog-actions>
