:host {
  // margin-left: 24px;
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-family: Inter, sans-serif;
  // font-size: 18px;
  font-weight: 700;
}

sup {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin-left: 2px;
  text-transform: uppercase;
}

@media (max-width: 599px) {
  :host {
    margin-left: 0;
  }
}
