<!--<div class="header-img">
  <img class="big-img" src="https://image.tmdb.org/t/p/original/7kcezJ56DPdajWucWxHgId3WE01.jpg" alt="">
</div>
<h1>{{movie.title}}</h1>-->

<!--<div class="immersive-header-renderer">
  <div class="thumbnail-renderer">
    <img class="image" src="https://lh3.googleusercontent.com/j6DV_uBOQt4ekfgj0EOggW_U3PopR5QfOXt1nq6KXMTgJdllOnf5Umpy6aDZ7c_58IRyzANycbEk9g=w2880-h1200-p-l90-rj">
  </div>
  <div class="content-container-wrapper">
    <div class="gradient-container">
      <div class="content-container">
        <div class="title">Tove Lo</div>
        <div class="description-container">
          <div id="description">Ebba Tove Elsa Nilsson, ya da bilinen sahne adıyla Tove Lo, İsveçli şarkıcı ve söz yazarı. Stockholm'da doğup büyümüş ve müzik magnet school'u Rytmus Musikergymnasiet'den mezun olmuştur. 2006 yılında kurduğu math rock grubu Tremblebee'nin dağılmasından sonra söz yazarlığı konusunda çalışmalar yapmış, 2010 yılında Warner/Chappell Music ile yayım sözleşmesi imzalamıştır.</div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="grid">
  <div class="video-container">
    <video controls class="grid-video">
      <source src="https://www.w3schools.com/html/mov_bbb.mp4">
    </video>
  </div>

  <!--<app-watch></app-watch>-->

  <div>
    <h1>{{movie.title}}</h1>
    <p>{{movie.year}}</p>

    <h3>Description</h3>
    <p>Owen Wilson and Vince Vaughn star as John Beck and Jeremy Klein, two partying divorce attorneys and committed womanizers, who have figured out a surefire way to meet women: crash weddings.</p>

    <h3>Cast and Crew</h3>
    <div class="cast-items">
      <div class="cast">
        <div class="cast-img">
          <img src="https://musicimage.xboxlive.com/catalog/video.contributor.02f81200-0200-11db-89ca-0019b92a3933/image?locale=en-us&target=circle&mode=crop&q=90&h=124&w=124" alt="">
        </div>
        <div class="cast-name">Owen Wilson</div>
      </div>
      <div class="cast">
        <div class="cast-img">
          <img src="    https://musicimage.xboxlive.com/catalog/video.contributor.b7171c00-0200-11db-89ca-0019b92a3933/image?locale=en-us&target=circle&mode=crop&q=90&h=124&w=124
" alt="">
        </div>
        <div class="cast-name">Vince Vaughn</div>
      </div>
    </div>

    <!--<button mat-raised-button (click)="showComments()" color="primary">İZLE</button>-->
   <!-- <button mat-raised-button (click)="showComments()">SHOW COMMENTS</button>
    <div class="movie-comments">
      <div class="movie-comment" *ngFor="let comment of comments$ | async as comments">
        <div class="user-picture">
          <img src="{{comment.user.avatarUrl}}" alt="{{comment.user.avatarUrl}}">
        </div>
        <div class="flex">
          <div class="username">{{comment.user.displayName}}</div>
          <div class="movie-text">{{comment.text}}</div>
        </div>
      </div>
    </div>-->
  </div>
</div>




